@use "./utils.scss";

.projects {
  //   display: flex;
  margin-bottom: 200px;
  padding-top: 50px;

  // @include utils.middle {
  //   flex-direction: column-reverse;
  // }

  @include utils.mobile {
    margin-bottom: 100px;
  }
}
