@use "./utils.scss";

$nav-height: 50px;

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    height: $nav-height;
    width: 100%;
    box-shadow: 0 10px 30px -10px utils.$bg-color;
    background-color: utils.$bg-color;
    color: utils.$primary;

    &--shown {
      @extend .navbar__container;
      animation: nav-slide-down 0.75s forwards;
    }

    &--hidden {
      @extend .navbar__container;
      animation: nav-slide-up 0.75s forwards;
    }
  }

  &__list {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;

    &-item {
      padding: 8px 12px;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: utils.$highlight;
      }

      &--loaded {
        @extend .navbar__list-item;
        opacity: 1;
        transform: translateY(0px);

        &--active {
          @extend .navbar__list-item--loaded;
          color: utils.$highlight;
          transform: scale(1.25);
        }
      }
    }
  }
}
