@use "./utils.scss";

.project-group {
  margin-bottom: 200px;
  padding-top: 50px;

  @include utils.mobile {
    margin-bottom: 100px;
  }

  &__main-title {
    font-size: utils.$normal-title-size;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;

    @include utils.middle {
      font-size: utils.$middle-title-size;
    }
    @include utils.mobile {
      font-size: utils.$mobile-title-size;
    }

    &:after {
      position: absolute;
      content: "";
      margin-left: 20px;
      width: 300px;
      height: 2px;
      background-color: utils.$highlight;
      top: 50%;
      @include utils.mobile {
        max-width: 80px;
      }
    }
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;

  @include utils.middle {
    flex-direction: column !important;
  }

  @include utils.mobile {
    display: block;
    margin-bottom: 70px;
  }

  &--even {
    @extend .project;
    flex-direction: row-reverse;
  }

  &__img {
    width: 600px;
    @include utils.mobile {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__detail {
    margin-left: 50px;
    flex-shrink: 0;
    flex-basis: 30%;

    &--even {
      @extend .project__detail;
      margin-left: 0px;
      margin-right: 50px;
    }

    @include utils.middle {
      margin-left: 0px;
      margin-right: 0px;
    }

    @include utils.mobile {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    text-align: center;
    font-size: utils.$normal-job-title-size;
    font-weight: bold;
    margin-bottom: 50px;

    @include utils.middle {
      font-size: utils.$middle-job-title-size;
      margin-top: 50px;
    }
    @include utils.mobile {
      font-size: utils.$middle-job-title-size;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  &__desc {
    text-align: end;
    font-size: utils.$normal-text-size;
    background-color: utils.$secondary;
    min-height: 150px;
    border-radius: 8px;
    padding: 20px;

    &--even {
      @extend .project__desc;
      text-align: start;
    }

    @include utils.middle {
      font-size: utils.$middle-text-size;
      width: 500px;
      text-align: start;
    }

    @include utils.mobile {
      font-size: utils.$mobile-text-small;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
  }

  &__stacks {
    color: utils.$highlight;
    font-size: utils.$mobile-text-small;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &--even {
      @extend .project__stacks;
      justify-content: flex-start;
    }

    @include utils.middle {
      margin-top: 20px;
      justify-content: center;
    }
  }

  &__stack {
    margin-right: 30px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    &--even {
      @extend .project__stacks;
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;

    &--even {
      @extend .project__links;
      justify-content: flex-start;
    }
    @include utils.middle {
      justify-content: flex-end;
    }
  }

  &__link {
    padding-right: 10px;
    &:last-of-type {
      padding-right: 0px;
    }
    &:hover {
      color: utils.$highlight;
    }
  }
}
