@use "./utils.scss";

.tech {
  display: flex;
  padding-top: 50px;
  margin-bottom: 50px;
  @include utils.delayOpacity;

  @include utils.middle {
    flex-direction: column-reverse;
  }

  @include utils.mobile {
    padding-top: 70px;
    margin-bottom: 0px;
  }
  &__right {
    flex-shrink: 0;
    flex-basis: 50%;
    position: relative;

    &-title {
      height: 100%;
      display: flex;
      justify-content: center;
      font-size: utils.$normal-title-size;
      font-weight: bold;

      @include utils.middle {
        font-size: utils.$middle-title-size;
        margin-bottom: 50px;
      }
      @include utils.mobile {
        font-size: utils.$mobile-title-size;
      }
    }
    &-img {
      position: absolute;
      top: 175px;
      left: 50%;
      transform: translateX(-50%);

      & img {
        width: 30px;
        height: 17.5px;
        animation: arrow-animation 2.5s ease-in-out infinite;

        @include utils.middle {
          display: none;
        }
      }
    }
  }
  &__left {
    flex-shrink: 0;
    flex-basis: 50%;

    &-img-row {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 15%;
        height: 15%;
        max-width: 100px;
        margin-left: 10px;
      }

      &--rec {
        width: 50% !important;
        height: 50% !important;
        max-width: 250px !important;
      }
    }
  }
}

@keyframes arrow-animation {
  0%,
  50%,
  100% {
    transform: translateX(0%) rotate(-90deg);
  }
  25%,
  75% {
    transform: translateX(80%) rotate(-90deg);
  }
}
