@use "./utils.scss";
@use "./Navbar";
@use "./Hero";
@use "./About";
@use "./Technologies";
@use "./Works";
@use "./_Projects";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: utils.$primary;
  background-color: utils.$bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-container {
  // padding: 24px 60px;
  margin-right: 15%;
  margin-left: 15%;

  @include utils.mobile {
    margin-right: 5%;
    margin-left: 5%;
  }
}
